# 运行环境 dev(开发环境) |　pre(灰度环境) |  prod(生产环境)
RunSetting: "dev"
MySQL: "root:root@tcp(127.0.0.1:3306)/free_im?charset=utf8mb4"
RedisIP: "127.0.0.1:6379"
RedisAuth: ""

# 阿里云短信
AliYunSmsAccessKeyID: ""
AliYunSmsAccessKeySecret: ""

# QQ互联APPID
QQAuthAppID: ""

# logic 模块配置
LogicConf:
  RPCListenAddr: ":5000"
  ConnRPCAddrs: "127.0.0.1:5001,127.0.0.1:5002"

# TCP conn 模块配置
TCPConnConf:
  TCPListenAddr: ":1208"
  RPCListenAddr: ":5001"
  LogicRPCAddrs: "127.0.0.1:5000"

# WS conn 模块配置
WSConnConf:
  WSListenAddr: ":1209"
  RPCListenAddr: ":5002"
  LogicRPCAddrs: "127.0.0.1:5000"

# http 模块配置
HttpConf:
  HttpListenAddr: ":8066"
  RPCListenAddr: ":5003"
  LogicRPCAddrs: "127.0.0.1:5000"

# 监控模块
MonitorConf:
  WSListenAddr: ":8067"
  RPCListenAddr: ":5004"
